<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="task-details p-10">
            <!-- <a class="text-blue-400 mt-4 inline-block" href="/"></a> -->
            <h1 class="text-3xl text-white"><%= task.title %></h1>

            <p class="text-white mt-4"><%= task.details %></p>
            
        </div>
    </div>
</body>
</html>
